<template>
  <h1>Du hast ingesamt {{ numTodos }} To-Dos</h1>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Counter extends Vue {
  get numTodos() {
    return this.$store.state.todos.length;
  }
}
</script>
