<template>
  <div id="app">
    <v-app>
      <v-main>
        <router-view></router-view>
        <v-container>
          <v-row>
            <v-col
              lg="2"
              md="3"
              sm="6"
              xs="12"
              v-for="(todo, index) in todos"
              :key="index"
            >
              {{ todo }}
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="8">
              <v-text-field
                :disabled="isButtonDisabled"
                type="text"
                label="Neues Todo"
                hint="Das neue TOdo muss eingegeben werden"
                v-model="newTodo"
              />
            </v-col>
            <v-col cols="4">
              <v-btn
                type="button"
                :disabled="isButtonDisabled"
                @click="onAddTodoClick"
                >Hinzufügen</v-btn
              >
            </v-col>
          </v-row>
          <v-btn @click="onCounterClick">Zum Counter</v-btn>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Counter from "./components/counter.vue";

@Component({
  components: {
    Counter
  }
})
export default class App extends Vue {
  private name = "Isi";
  private newTodo = "";
  private isButtonDisabled = false;

  private onAddTodoClick() {
    this.isButtonDisabled = true;
    const resultPromise = this.$store.dispatch("addTodoToServer", this.newTodo);
    resultPromise.then(() => {
      this.isButtonDisabled = false;
      this.newTodo = "";
    });
  }

  private onCounterClick() {
    this.$router.push("/counter");
  }

  get todos() {
    return this.$store.state.todos;
  }

  get getNumTodos() {
    return this.todos.length;
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
